{% extends "base.html" %}
{% block css %}{% endblock %}

{% block content %}
	 

	<form id="login-form" action="" method="POST">
	  <h2 class="form-signin-heading">Please login</h2>
	  {% if  error %}
	  	<div>
	    	<p class="bg-danger text-center message">{{error}}</p>
	  	</div>
	  {% endif %}
	  
	<?php } ?>
	  <label for="username" class="sr-only">Username</label>
	  <input type="text" id="username" class="form-control" name="username" placeholder="Username" required>
	  <label for="password" class="sr-only">Password</label>
	  <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
	  <button class="btn-lg btn btn-success btn-block">Login</button>
	</form>
{% endblock %}

{% block js %}
    <script src="{{BASE_URL}}bower_components/jquery-validation/dist/jquery.validate.js"></script>
	<script>
        $("#login-form").validate();
    </script>
{% endblock  %}

