.logo,.logout-btn{
    margin:10px;
}
.logo{
    width: 120px;
    height: 50px;
}
.message{
    padding:15px;
    font-size: 16px;
}
#login-form{
	max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
#login-form .form-control{
	font-size: 16px;
	position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}
#login-form button.btn-success{
	margin-top:30px;
}